extends components/_layout.pug

block title
    - let title = 'Trang chủ';
    title #{title}
block style
    - let css = '/wwwroot/templates/website/release/index.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/main.min.css')

block content
    //- Var
    - let idPage = 'index';
    - let h1Title = '@Html.Raw(ViewBag.MetaTitle)';
    //- Content
    
    main.page-wrapper.main.home(id=`${idPage}-page`)
        h1.d-none=h1Title
        include components/_main-slider.pug
block script
    - let js = '/wwwroot/templates/website/release/index.min.js';
    //- Default
    script(type='text/javascript' src=`/wwwroot/templates/website/release/default.min.js` defer)
    //- Page

    script.
        addCSS('#{css}')
        addScript('#{js}')
        addScript('/wwwroot/templates/website/release/layout.min.js')
    

    