extends components/_layout.pug

block title
    - let title = 'Trang chủ';
    title #{title}
block style
    - let css = '/wwwroot/templates/website/release/index.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/main.min.css')

block content
    //- Var
    - let idPage = 'index';
    - let h1Title = '@Html.Raw(ViewBag.MetaTitle)';
    //- Content
    
    main.page-wrapper.main.home(id=`${idPage}-page`)
        h1.d-none=h1Title
        .marquee-wrapper
            .marquee-track
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb5fc_wuffes.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633945cdb8dfa3eb0533b_nuleaf.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb398_stix%20logo.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb54c_true%20classic.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb3f0_MISSOURI.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/6566339edf9a3ce9a0b2581d_silencer.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633aaf372d7e4231d21d1_rc%20rough%20country.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633b2d44d7998d063c72b_woxer.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633bacbf710403a658c4b_kringle%20candle.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb5fc_wuffes.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633945cdb8dfa3eb0533b_nuleaf.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb398_stix%20logo.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb54c_true%20classic.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/651c9c4f94a73afac7bbb3f0_MISSOURI.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/6566339edf9a3ce9a0b2581d_silencer.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633aaf372d7e4231d21d1_rc%20rough%20country.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633b2d44d7998d063c72b_woxer.svg" loading="lazy" alt="">
                <img src="https://assets-global.website-files.com/651c9c4f94a73afac7bbb014/656633bacbf710403a658c4b_kringle%20candle.svg" loading="lazy" alt="">
        button.btn-svg-close
            svg.svg-icon-close(role='img' viewBox='0 0 110 110')
                g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square')
                    path(d='M4.79541854,4.29541854 L104.945498,104.445498 L4.79541854,4.29541854 Z' stroke='currentColor' stroke-width='12px')
                    path(d="M4.79541854,104.704581 L104.945498,4.55450209 L4.79541854,104.704581 Z" stroke="currentColor" stroke-width='12px')
            svg.svg-icon-arrow(aria-hidden='true' role='img' viewBox='0 0 16 16')
                polygon(fill='currentColor' points='8 0 6.6 1.4 12.2 7 0 7 0 9 12.2 9 6.6 14.6 8 16 16 8')
        <select class="nice-select">
            <option data-display="Select">Nothing</option>
            <option value="1">Some option</option>
            <option value="2">Another option</option>
            <option value="3" disabled>A disabled option</option>
            <option value="4">Potato</option>
        </select>
        .select-menu-filter(data-text='TITLE')
            .select-menu-header
                span.text TITLE
                i.icon
            .select-menu-body
                .select-menu-search.p-relative
                    input.form-control(type='search' placeholder='')
                    i.icon
                ul.nav.select-menu-content.scrollable.nav-js
                    li
                        a(href='' title='') NAME
            .select-menu-info(style='display:none')
            
        h1 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h2 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h3 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h4 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h5 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h6 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        p Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        include components/_main-slider.pug


block script
    - let js = '/wwwroot/templates/website/release/index.min.js';
    //- Default
    //- script(type='text/javascript' src='/wwwroot/templates/website/release/default.min.js' defer)
    //- Page

    script.
        addCSS('#{css}')
        $(window).bind('scroll touchstart', function (e) {
            if (checkPreloadJs == false) {
                checkPreloadJs = true;
                addScript('/wwwroot/templates/website/release/default.min.js', false, true).then(function () {
                    addScript('#{js}');
                    addScript('/wwwroot/templates/website/release/layout.min.js');
                });
            }
        });
    

    