extends components/_layout.pug

block title
    - let title = 'Trang chủ';
    title #{title}
block style
    - let css = '/wwwroot/templates/website/release/index.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/main.min.css')

block content
    //- Var
    - let idPage = 'index';
    - let h1Title = '@Html.Raw(ViewBag.MetaTitle)';
    //- Content
    
    main.page-wrapper.main.home(id=`${idPage}-page`)
        h1.d-none=h1Title
        include components/_main-slider.pug
        img(src='https://images.unsplash.com/photo-1682905926517-6be3768e29f0?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8')
        img(src="https://images.unsplash.com/photo-1697644154271-d5147ee0dac9?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8", alt="")
        .loadbar(style='height:5px;background-color:red')
        .glow(style='height:5px;background-color:blue')
        #precent.mb-10(style='height:5px;background-color:black')


block script
    - let js = '/wwwroot/templates/website/release/index.min.js';
    //- Default
    script(type='text/javascript' src='/wwwroot/templates/website/release/default.min.js' defer)
    //- Page

    script.
        addCSS('#{css}')
        addScript('#{js}').then(function() {
            addScript('/wwwroot/templates/website/release/layout.min.js');
        });
    

    