extends components/_layout.pug

block title
    - let title = 'Trang chủ';
    title #{title}
block style
    - let css = '/wwwroot/templates/website/release/index.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/main.min.css')

block content
    //- Var
    - let idPage = 'index';
    - let h1Title = '@Html.Raw(ViewBag.MetaTitle)';
    //- Content
    
    main.page-wrapper.main.home(id=`${idPage}-page`)
        h1.d-none=h1Title
        <select class="nice-select">
            <option data-display="Select">Nothing</option>
            <option value="1">Some option</option>
            <option value="2">Another option</option>
            <option value="3" disabled>A disabled option</option>
            <option value="4">Potato</option>
        </select>
        h1 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h2 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h3 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h4 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h5 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        h6 Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        p Lễ cưới Puka - Gin Tuấn Kiệt tại TP.HCM: 4 sao Việt mở màn, chú rể chứng minh độ cưng chiều vợ số 1
        include components/_main-slider.pug


block script
    - let js = '/wwwroot/templates/website/release/index.min.js';
    //- Default
    script(type='text/javascript' src='/wwwroot/templates/website/release/default.min.js' defer)
    //- Page

    script.
        addCSS('#{css}')
        addScript('#{js}').then(function() {
            addScript('/wwwroot/templates/website/release/layout.min.js');
        });
    

    