include variables/_function.pug
include variables/_mixins.pug
include variables/_variables.pug
//-var
- let title = 'Menu';
- let idPage = 'menu';
- let h1Title = 'Danh sách trang';
- let css = '/wwwroot/templates/release/main.min.css';
-
    let menuPage = [
        {
            id:0,
            name: 'Documentation',
            href: '',
            isShow: true,
            children: [
                {
                    id:0,
                    name: 'Hướng dẫn',
                    href: 'documentation.html',
                    isShow: true,
                    children: null
                },
                {
                    id:1,
                    name: 'Hướng dẫn Cms',
                    href: 'documentationcms.html',
                    isShow: true,
                    children: null
                }
            ]
        },
        {
            id:1,
            name: 'Index',
            href: '',
            isShow: true,
            children: [
                {
                    id:1,
                    name: 'Trang chủ',
                    href: 'home.html',
                    isShow: true,
                    children: null
                },
            ]
        },
        {
            id:2,
            name: 'Blogs',
            href: '',
            isShow: true,
            children: [
                {
                    id:1,
                    name: 'Danh mục tin tức',
                    href: 'blogcat.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Tin tức chi tiết',
                    href: 'blogdetail.html',
                    isShow: true,
                    children: null
                },
            ]
        },
        {
            id:3,
            name: 'Product',
            href: '',
            isShow: true,
            children: [
                {
                    id:1,
                    name: 'Danh mục sản phẩm',
                    href: 'productcat.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Sản phẩm chi tiết',
                    href: 'productdetail.html',
                    isShow: true,
                    children: null
                },
            ]
        },
        {
            id:4,
            name: 'Static',
            href: '',
            isShow: true,
            children: [
                {
                    id:1,
                    name: '404',
                    href: '404.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Coming soon',
                    href: 'comingsoon.html',
                    isShow: true,
                    children: null
                },
                {
                    id:3,
                    name: 'Liên hệ',
                    href: 'contact.html',
                    isShow: true,
                    children: null
                },
                {
                    id:4,
                    name: 'Trang tĩnh: giới thiệu...',
                    href: 'static.html',
                    isShow: true,
                    children: null
                },
            ]
        },
        {
            id:5,
            name: 'Cart',
            href: '',
            isShow: false,
            children: [
                {
                    id:1,
                    name: 'Giỏ hàng',
                    href: 'cart.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Thông tin thanh toán',
                    href: 'cart1.html',
                    isShow: true,
                    children: null
                },
                {
                    id:3,
                    name: 'Kết quả thanh toán',
                    href: 'cart2.html',
                    isShow: true,
                    children: null
                }
            ]
        },
        {
            id:6,
            name: 'Booking',
            href: '',
            isShow: true,
            children: [
                {
                    id:1,
                    name: 'Đặt lịch',
                    href: 'booking.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Thông tin thanh toán',
                    href: 'booking1.html',
                    isShow: true,
                    children: null
                },
                {
                    id:3,
                    name: 'Kết quả thanh toán',
                    href: 'booking2.html',
                    isShow: true,
                    children: null
                }
            ]
        },
        {
            id:7,
            name: 'Store',
            href: '',
            isShow: false,
            children: [
                {
                    id:1,
                    name: 'Cửa hàng',
                    href: 'store.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Cửa hàng chi tiết',
                    href: 'storedetail.html',
                    isShow: true,
                    children: null
                },
            ]
        },
        {
            id:8,
            name: 'Function',
            href: '',
            isShow: false,
            children: [
                {
                    id:1,
                    name: 'So sánh sản phẩm',
                    href: 'compare.html',
                    isShow: true,
                    children: null
                }
            ]
        },
        {
            id:9,
            name: 'Brand',
            href: '',
            isShow: false,
            children: [
                {
                    id:1,
                    name: 'Thương hiệu',
                    href: 'brand.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Thương hiệu chi tiết',
                    href: 'branddetail.html',
                    isShow: true,
                    children: null
                }
            ]
        },
        {
            id:10,
            name: 'Account',
            href: '',
            isShow: false,
            children: [
                {
                    id:1,
                    name: 'Tổng quan tài khoản',
                    href: 'account.html',
                    isShow: true,
                    children: null
                },
                {
                    id:2,
                    name: 'Quản lý đơn hàng',
                    href: 'account1.html',
                    isShow: true,
                    children: [
                        {
                            id:1,
                            name: 'Đơn hàng chi tiết',
                            href: 'account1_1.html',
                            isShow: true,
                            children: null
                        },
                        {
                            id:2,
                            name: 'Theo dõi đơn hàng',
                            href: 'account1_2.html',
                            isShow: true,
                            children: null
                        }
                    ]
                },
                {
                    id:3,
                    name: 'Sổ địa chỉ',
                    href: 'account2.html',
                    isShow: true,
                    children: [
                        {
                            id:1,
                            name: 'Thêm/sửa sổ địa chỉ',
                            href: 'account2_1.html',
                            isShow: true,
                            children: null
                        }
                    ]
                },
                {
                    id:4,
                    name: 'Sản phẩm đã xem',
                    href: 'account3.html',
                    isShow: true,
                    children: null
                },
                {
                    id:5,
                    name: 'Sản phẩm yêu thích',
                    href: 'account4.html',
                    isShow: true,
                    children: null
                }
            ]
        }
    ]; 

doctype html
html(lang='vi-VN' itemscope itemtype='http://schema.org/website' class='no-js')
    include components/_header.pug
        title #{title}

    //- CSS
    script.
        WebFontConfig = {
            custom: {
                families: ['SVN-Poppins'],
                urls: ['/wwwroot/templates/fonts/fonts.css']
            }
            //google: { families: ['Poppins:400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/wwwroot/templates/release/webfontloader.min.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    link(rel='stylesheet' type='text/css' href=css)
    body 
    
        //-Main layout
        main(id=`${idPage}-page` class='container')
            
            .list-page.mt-10
                each item in menuPage
                    if item.isShow
                        fieldset.mb-5.list-mb-2
                            legend=item.name
                            if item.children != null
                                each item_child in item.children
                                    if item_child.isShow
                                        .font-weight-normal.pl-2.font-size-lg
                                            a(href=item_child.href) #{item_child.id}. #{item_child.name}
                                        if item_child.children != null
                                            each item_child_child in item_child.children
                                                if item_child_child.isShow
                                                    .font-weight-normal.pl-8.font-size-md
                                                        a(href=item_child_child.href) #{item_child_child.id}. #{item_child_child.name}
