extends components/_layout.pug

block title
    - let title = 'Trang tĩnh';
    title #{title}
block style
    - let css = '/wwwroot/templates/website/release/static.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/wwwroot/templates/website/release/main.min.css')

block content
    //- Var
    - let idPage = 'static';
    - let h1Title = '@ViewBag.MetaTitle';
    //- Data
    -
        let breadcrumb = [
            {
                name: 'Trang chủ',
                href: '/',
                isActive: false,
            },
            {
                name: title,
                href: '',
                isActive: true,
            },
        ];
    //- Content
    main.page-wrapper.main(class=`${idPage}-page`)
        h1.d-none=h1Title
        
        .breadcrumb.mb-10
            .breadcrumb-header.bg-grey.d-flex.align-items-center.justify-content-center
                .container.text-center.text-capitalize
                    h2.breadcrumb-title=title
                    p.breadcrumb-subtitle Page
            .container
                .breadcrumb-body
                    +breadcrumb-list(breadcrumb)
        
        section.container.mb-10(class=`${idPage}`)
            h2.section-header.title.title-center.h1.mb-5=title
            .section-body.blog-content
                include components/_blog-content.pug
            .section-footer.mt-10
                .d-none.d-lg-block.d-md-none
                    .social-links.social-icons.social-icons-colored.mt-5
                        label.mr-2.font-weight-bold.text-uppercase Chia sẻ:
                        a.social-icon.social-facebook.ecs-icon-facebook.btn-sharesocial
                        a.social-icon.social-facebook.demo-icon.cus-messenger.btn-sharesocial.d-block.d-xl-none
                        a.social-icon.social-facebook.demo-icon.cus-messenger.btn-sharesocial.d-none.d-xl-block.d-lg-none.d-md-none
                        a.social-icon.social-email.demo-icon.cus-mail-alt
                        a.social-icon.social-link.demo-icon.cus-link.btn-copy
                .d-block.d-lg-none
                    .social-links.social-icons.social-icons-colored.mt-5
                        label.mr-2.font-weight-bold.text-uppercase Chia sẻ:
                        a.social-icon.social-facebook.demo-icon.cus-messenger.btn-sharesocial
                        a.social-icon.social-share.demo-icon.cus-share.btn-share
                        a.social-icon.social-link.demo-icon.cus-link.btn-copy
                        
block script
    - let js = '/wwwroot/templates/website/release/static.min.js';
    //- Default
    script(type='text/javascript' src='/wwwroot/templates/website/release/default.min.js' defer)
    //- Page
    script.
        addCSS('#{css}')
        addScript('#{js}').then(function () {
            addScript('/wwwroot/templates/website/release/layout.min.js');
        });
    