-
    let dataTable = [
        {
            id: 'BAF087',
            name: 'Gabriel Gunderson',
            team: 'Space Monkeys (Mikkel)',
            project: 'Weave Communications',
            service: 'Product Research and Mangement'
        },
        {
            id: 'CADBAD',
            name: 'Stephanie Zollowkowsky',
            team: 'NG Ninjas',
            project: 'Bubble',
            service: 'HTML & CSS'
        },
        {
            id: '098765',
            name: 'Ichabod Chrane',
            team: 'Programmers 1',
            project: 'Sleepy Hollow Website',
            service: 'Backend Development'
        },
        {
            id: 'GABY08',
            name: 'Junior Case',
            team: 'Programmers 2',
            project: 'Izeni',
            service: 'Frontend Development'
        },
        {
            id: '1B011A',
            name: 'Lorem Ipsum',
            team: 'Dolor',
            project: 'Sit',
            service: 'Amet'
        },
        {
            id: '1B011A',
            name: 'Lorem Ipsum',
            team: 'Dolor',
            project: 'Sit',
            service: 'Amet'
        },
        {
            id: '1B011A',
            name: 'Lorem Ipsum',
            team: 'Dolor',
            project: 'Sit',
            service: 'Amet'
        },
        {
            id: '1B011A',
            name: 'Lorem Ipsum',
            team: 'Dolor',
            project: 'Sit',
            service: 'Amet'
        },
        {
            id: '1B011A',
            name: 'Lorem Ipsum',
            team: 'Dolor',
            project: 'Sit',
            service: 'Amet'
        },
        {
            id: '1B011A',
            name: 'Lorem Ipsum',
            team: 'Dolor',
            project: 'Sit',
            service: 'Amet'
        },
        {
            id: '1B011A',
            name: 'Lorem Ipsum',
            team: 'Dolor',
            project: 'Sit',
            service: 'Amet'
        }
    ]

.widget-toc.widget-collapsible.collapsible(data-title='Table of content')
    .toc-title.collapsible-title
        label.label
            <svg class="css-yrpez1" viewBox="0 0 512 512"><path d="M88 56H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16V72a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm416 24H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8zm0-320H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8V88a8 8 0 00-8-8zm0 160H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8z"></path></svg>
            span Mục lục
        span.toggle-btn <svg class="css-yrpez1" viewBox="0 0 512 512"><path d="M88 56H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16V72a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm0 160H40a16 16 0 00-16 16v48a16 16 0 0016 16h48a16 16 0 0016-16v-48a16 16 0 00-16-16zm416 24H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8zm0-320H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8V88a8 8 0 00-8-8zm0 160H168a8 8 0 00-8 8v16a8 8 0 008 8h336a8 8 0 008-8v-16a8 8 0 00-8-8z"></path></svg>
    .tableofcontent.collapsible-body.scrollable
        ol
            li
                a(href='#nhung-gi-da-biet-ve-omicron') Những gì đã biết về Omicron
            li
                a(href='#cac-khu-du-lich-vang-lang') Các khu du lịch vắng lặng
                ol
                    li
                        a(href='#kinh-doanh-e-am') Kinh doanh ế ẩm
                        ol
                            li
                                a(href='#sars-cov-2-tao-bien-chung-moi-nhu-the-nao') SARS-CoV-2 tạo biến chủng mới như thế nào?
            li
                a(href='#moi-tim-lai-duoc-chut-tu-tin-de-di-du-lich-thi-bien-chung-omicron-ap-toi') Mới tìm lại được chút tự tin để đi du lịch thì biến chủng Omicron ập tới
            li
                a(href='#cong-suc-cua-cac-nha-khoa-hoc') Công sức của các nhà khoa học
            li
                a(href='#noi-buon-cua-nam-phi') Nỗi buồn của Nam Phi
            li
                a(href='#loi-cam-on-muon-mang') Lời cảm ơn muộn màng
#widget-toc-fixed
p(style='text-indent: 50px') Trong bản cập nhật mới, WHO một lần nữa nhấn mạnh vẫn chưa có đủ dữ liệu để kết luận vaccine Covid-19 hiện tại kém hiệu quả trước biến chủng này.
p <span class="drop-cap-plugin" style="font-weight:bold;float:left;display:inline-block;background-color:#27AE61;color:#fff;padding:5px 10px;border-radius:5px;margin:5px 10px" title="I">N</span>gày 28/11, Tổ chức Y tế Thế giới đăng tải thông tin cập nhật đầu tiên về biến chủng mới Omicron. Đây là động thái tiếp theo của WHO sau khi liệt kê B.1.1.529 vào danh sách các biến chủng đáng quan ngại theo lời khuyên của Nhóm cố vấn kỹ thuật về sự tiến hóa của virus (TAG-VE).
p.first-letter Quyết định nói trên dựa vào bằng chứng mà TAG-VE nhận được, cho thấy Omicron có một số đột biến có thể ảnh hưởng cách nó hoạt động, ví dụ mức độ lây lan nhanh hay <b>bệnh nặng hơn</b>.
h2#nhung-gi-da-biet-ve-omicron Những gì đã biết về Omicron
p.first-cap Các nhà nghiên cứu của Nam Phi và khắp thế giới đang tiến hành nhiều phân tích để hiểu rõ hơn về những khía cạnh của Omicron. WHO khẳng định họ sẽ tiếp tục chia sẻ những phát hiện mới về biến chủng này sớm. Dịch Covid-19 đang bùng phát và khí hậu bất lợi nên du khách vẫn chưa có kế hoạch đi tham quan, nghỉ dưỡng. Các khu du lịch ở Đà Nẵng đã hoạt động trở lại nhưng rất ít khách.
p <b>Về khả năng lây truyền:</b> WHO vẫn chưa rõ liệu Omicron có khả năng lây truyền cao hơn các biến chủng khác hay không. Số người có kết quả dương tính đã tăng lên ở nhiều khu vực của Nam Phi bị ảnh hưởng bởi biến chủng này. Giới dịch tễ học đang nghiên cứu để tìm hiểu xem sự gia tăng các ca nhiễm ở khu vực trên có phải do biến chủng Omicron hay yếu tố khác.
p <b>Mức độ nghiêm trọng của bệnh:</b> WHO cũng chưa có câu trả lời chính xác những người nhiễm chủng Omicron có tình trạng bệnh nặng hơn so với khi nhiễm chủng khác hay không, bao gồm cả Delta.
p Dữ liệu sơ bộ cho thấy tỷ lệ nhập viện ngày càng tăng ở Nam Phi, nhưng điều này có thể là do tổng số người bị nhiễm bệnh ngày càng tăng, không hẳn xuất phát từ Omicron. Hiện tại, chúng ta không cóp Các trường hợp nhiễm Omicron được báo cáo ban đầu là sinh viên đại học. Họ là người trẻ nên xu hướng mắc bệnh có thể nhẹ hơn, song, việc biểu hiện mức độ nghiêm trọng của bệnh khi nhiễm Omicron có thể sẽ mất vài ngày đến vài tuần. Tất cả biến chủng của Covid-19, bao gồm Delta, đều có thể gây bệnh nặng hơn hoặc nguy cơ tử vong cao hơn.
figure.blog-img
    img(loading='lazy' src=dist+'blogs/blog1.jpg')
    figcaption.cap Nhân viên làm việc tại sảnh khởi hành sân bay Narita, Chiba, Nhật Bản. Ảnh: Blooomberg.

h2#cac-khu-du-lich-vang-lang Các khu du lịch vắng lặng
h3#kinh-doanh-e-am Kinh doanh ế ẩm
h4#sars-cov-2-tao-bien-chung-moi-nhu-the-nao SARS-CoV-2 tạo biến chủng mới như thế nào?
p <b><i>Nguy cơ tái nhiễm trước biến chủng Omicron:</i></b> Bằng chứng sơ bộ cho thấy có thể những F0 từng mắc Covid-19 có tăng nguy cơ tái nhiễm Omicron. Điều đó có nghĩa sau khi khỏi Covid-19, họ có thể bị tái nhiễm nCoV dễ dàng hơn trước chủng mới so với các chủng đáng quan ngại khác. Song, thông tin này cũng còn rất hạn chế và WHO nhấn mạnh cần chờ thêm vài ngày đến vài tuần tới để có kết luận cuối cùng.
p <b>Hiệu quả của vaccine:</b> WHO đang làm việc với các chuyên gia để tìm hiểu tác động tiềm tàng của Omicron với những biện pháp đối phó hiện có như vaccine. Vaccine Covid-19 được xem là rất quan trọng trong việc giảm nguy cơ mắc bệnh nặng, tử vong. Theo kết quả hiện tại, các vaccine Covid-19 vẫn có hiệu quả với biến chủng Omicron.
p <b>Hiệu quả của các xét nghiệm hiện tại:</b> Các xét nghiệm rRT-PCR đang sử dụng rộng rãi được cho là vẫn có tác dụng phát hiện ca nhiễm biến chủng Omicron và tất cả biến chủng khác. Các nghiên cứu đang xem xét liệu nó có gây bất kỳ tác động nào đến xét nghiệm kháng nguyên, test nhanh hay không.
p <b>Hiệu quả của phương pháp điều trị hiện tại:</b> <a>Corticosteroid</a> và thuốc chẹn thụ thể IL6 sẽ vẫn có hiệu quả để điều trị F0 thể nặng. Các phương pháp điều trị khác sẽ được đánh giá để xem liệu chúng có còn hiệu quả hay không khi có những thay đổi trong trình tự gene, đột biến của Omicron.
figure.videodetector
    .embed-responsive.embed-responsive-16by9 <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" frameborder="0" loading="lazy" src="https://www.youtube.com/embed/F5tSoaJ93ac?autohide=1&amp;controls=1&amp;showinfo=0"></iframe>
    figcaption.cap Imagine Dragons & JID - Enemy (từ loạt phim Liên Minh Huyền Thoại Arcane) | Music Video Chính Thức
p Lauren Kennedy Brady, 47 tuổi, vừa hạ cánh tại thành phố Johannesburg, Nam Phi, điện thoại cô tràn ngập những cảnh báo và tin nhắn.
h2#moi-tim-lai-duoc-chut-tu-tin-de-di-du-lich-thi-bien-chung-omicron-ap-toi Mới tìm lại được chút tự tin để đi du lịch thì biến chủng Omicron ập tới
p.first-cap Cấu trúc của virus rất đơn giản, gồm một vỏ protein bao bọc vật liệu di truyền bên trong là RNA hoặc DNA. Khi xâm nhập tế bào, vật liệu di truyền sẽ được nhân lên với số lượng lớn, còn gọi là quá trình sao chép để tạo ra những virus mới. Trong quá trình sao chép đó, thế hệ sau sẽ có nguy cơ cao tạo ra những đột biến, dẫn đến việc tạo ra các protein có đặt điểm mới ở cả bên ngoài và bên trong virus.
ul 
    li Không phải mọi đột biến đều nguy hiểm và đáng sợ
    li Bộ gene của virus cũng giống như con người chúng ta có DNA
    li Các chủng nguy hiểm thường tạo đột biến ở gai trên màng (vùng Spike protein).
    li Số ít những đột biến mang lại lợi thế chọn lọc cho virus, làm tăng khả năng lây nhiễm, giúp biến chủng này phổ biến hơn sau này.
    li Khi đột biến xảy ra ở virus, chúng có thể gây đột biến hàng loại các vị trí trên bộ gene của mình.
blockquote
    p Sự xuất hiện của biến thể Omicron từ Nam Phi gợi nhớ tới giai đoạn chủng virus Delta Ấn Độ gây nên đợt khủng hoảng dịch toàn cầu. Delta được phát hiện lần đầu vào tháng 12/2020, nhưng đến cuối tháng 4/2021, chủng này mới xuất hiện tại Yên Bái, Việt Nam (bệnh nhân 2857).
.table-responsive
    table.table.mytable(border='1' summary='Giải mã gene để phát hiện biến thể mới')
        caption Responsive-width fixed header table with pure CSS
        thead
            tr
                th Id
                th Name
                th Team
                th Project
                th Service
        tbody
            each item in dataTable
                tr
                    td=item.id
                    td=item.name
                    td=item.team
                    td=item.project
                    td=item.service
        tfoot
            tr
                td $1
                td $20
                td $300
                td $4000
                td $50000

.tab.tab-nav-boxed.tab-nav-solid.tab-js
  ul.nav.nav-tabs(role='tablist')
    li.nav-item
      a.nav-link.active(href='#tab1-1') Tab Primary
    li.nav-item
      a.nav-link(href='#tab1-2') Tab Success
    li.nav-item
      a.nav-link(href='#tab1-3') Tab Secondary
    li.nav-item
      a.nav-link(href='#tab1-4') Tab Fourth
  .tab-content
    #tab1-1.tab-pane.active
        p GameFi là thuật ngữ chỉ các trò chơi được xây dựng trên nền tảng Blockchain, giao dịch vật phẩm NFT. Sau sự thành công của Axie Infinity, hàng trăm dự án GameFi xuất hiện, thu hút sự quan tâm của nhà đầu tư. Tuy nhiên, những trò chơi này phần lớn ở dạng sơ khởi, lối chơi đơn điệu, đồ họa đơn giản. Nhiều nhà phát triển chưa ra mắt game đã phát hành đồng tiền số đi kèm.
        figure.blog-img
            img(loading='lazy' src=dist+'/blogs/blog1.jpg')
            figcaption.cap Nhân viên làm việc tại sảnh khởi hành sân bay Narita, Chiba, Nhật Bản. Ảnh: Blooomberg.
    #tab1-2.tab-pane
        p Tuy nhiên trên nền tảng cũ, kẻ gian vẫn có thể lợi dụng lỗ hổng bảo mật để lừa đảo, chiếm đoạt vật phẩm trong game của người dùng. Công nghệ blockchain và NFT mang đến cho nhà phát triển công cụ tăng tính minh bạch, bảo mật game.
        figure.videodetector
            .embed-responsive.embed-responsive-16by9 <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" frameborder="0" loading="lazy" src="https://www.youtube.com/embed/F5tSoaJ93ac?autohide=1&amp;controls=1&amp;showinfo=0"></iframe>
            figcaption.cap Imagine Dragons & JID - Enemy (từ loạt phim Liên Minh Huyền Thoại Arcane) | Music Video Chính Thức
    #tab1-3.tab-pane
        p Sau thành công của Axie Infinity, nhiều trò chơi xây dựng trên nền tảng blockchain khác liên tục được công bố. Danh mục NFT của CoinMarketCap có phần lớn token đến từ các dự án GameFi. Theo danh sách này, hiện có hơn 300 token của các tựa game blockchain đã được niêm yết trên sàn tiền số.
        p Decentraland, Axie Infinity, Gala,The Sandbox, Enjin là những dự án lớn, có giá trị vốn hóa vượt mốc 3 tỷ USD. Thetan Arena, một game mới của đội ngũ đến từ Việt Nam vừa được ra mắt vào tháng 9, nhưng đã đạt mức vốn hóa hơn 500 triệu USD.
    #tab1-4.tab-pane
        p Các trò chơi blockchain hiện được phát triển trên nhiều thể loại khác nhau như game thẻ bài, đánh theo lượt, chiến thuật, thể thao, bắn súng… Chia sẻ với Zing, các chuyên gia đều có ý kiến chung rằng các game NFT hiện nay chỉ hấp dẫn người chơi ở yếu tố kiếm tiền. So với các tựa game AAA, thị trường GameFi hiện tại “vắng bóng” những trò chơi có đồ họa đặc sắc, nổi bật. Đồng thời, những khía cạnh cơ bản của game như cốt truyện, cách chơi vẫn còn khá đơn giản.

.accordion.accordion-bg.accordion-gutter-md.accordion-border
    .accordion-item
        .accordion-header
            a.collapse(href='#collapse1-1') Một quốc gia thiếu điện vì thợ đào Bitcoin
        #collapse1-1.accordion-body.expanded
            p Matthew Heard, một kỹ sư phần mềm đến từ San Jose bày tỏ sự lo lắng về 33 máy đào Bitcoin của mình ở Kazakhstan. Trong tuần qua, quốc gia này liên tục cắt điện nhằm hạn chế nguồn cung năng lượng cho thợ khai thác tiền mã hóa.
    .accordion-item
        .accordion-header
            a.expand(href='#collapse1-2') Thiếu điện vì thợ đào tiền số đến từ Trung Quốc
        #collapse1-2.accordion-body.collapsed
            p Kazakhstan phải vật lộn để đối phó với sự thiếu điện diện rộng do khai thác tiền mã hóa tại nước này. Tình trạng càng tệ hơn khi thợ đào Bitcoin di cư ồ ạt từ Trung Quốc sang biên giới Kazakhstan vào tháng 5.
    .accordion-item
        .accordion-header
            a.expand(href='#collapse1-3') Kazakhstan phải mua thêm điện từ Nga
        #collapse1-3.accordion-body.collapsed
            p Để bù đắp cho sự thiếu hụt, kể từ 2022, những người đào tiền số phải trả trên phụ phí 1 tenge Kazakhstan (0,0023 USD) cho mỗi kWh. Tuy nhiên, cho đến khi quy định được áp dụng, Kazakhstan phải đàm phán với Inter RAO, công ty năng lượng có trụ sở tại Moscow, Nga để mua thêm điện.

.accordion-item
    .accordion-header
        a.collapse(href='#collapse1') Mối quan ngại ngày càng lớn
    #collapse1.accordion-body.expanded
        p Giới chức Mỹ đã hành động nhanh chóng để áp đặt các hạn chế mới. Mặc dù sự xuất hiện của biến chủng đã được cảnh báo trong vài tuần qua, họ mới biết được mức độ nghiêm trọng của nó chỉ trong những ngày gần đây.
        p Các quan chức Mỹ sẽ thảo luận với các nhà khoa học ở Nam Phi một lần nữa vào ngày 28/11.

h2#cong-suc-cua-cac-nha-khoa-hoc Công sức của các nhà khoa học
p.first-cap Một trong những mặt tích cực hiếm hoi mà đại dịch Covid-19 đem lại là những tiến bộ về y học. Nhiều vaccine an toàn và hiệu quả được phát triển trong chưa đầy một năm. Các loại thuốc mới được nghiên cứu và nhiều loại thuốc cũ được tận dụng để cứu sống hàng trăm nghìn mạng người.  
p Bên cạnh đó, các nhà khoa học đang giải trình tự gene ở quy mô chưa từng có. Hiện nay, kho dữ liệu công cộng đã có hơn 5,5 triệu mẫu gene. Để việc giải trình tự gene có hiệu quả, giới khoa học cần chung tay xây dựng quy trình thí nghiệm, hệ thống phần mềm hay dữ liệu.
p Nhiều nhà khoa học tự nguyện làm việc này ngoài giờ mà không được trả lương. Họ tin rằng hành động của mình sẽ đem tới thêm hiểu biết cho các nhà hoạch định chính sách, cũng như giúp tạo ra các loại thuốc mới nhanh hơn.
p Sự hợp tác giữa các nhà khoa học trong lĩnh vực gene đã chứng tỏ hiệu quả khi biến chủng Omicron xuất hiện.
p Biến chủng mới nhanh chóng được đặt tên B.1.1.529 và được tập trung nghiên cứu. Khi các nhà khoa học Nam Phi đưa ra thêm nhiều bằng chứng về mức độ nguy hiểm của virus, hôm 26/11, Tổ chức Y tế Thế giới (WHO) chính thức đưa B.1.1.529 - có tên mới là Omicron - vào danh sách biến chủng “đáng quan ngại”.
p Tất cả chỉ diễn ra trong 72 giờ đồng hồ. Để so sánh, các biến chủng "đáng quan ngại" khác đều mất một vài tháng để được đưa vào danh sách của WHO.
h2#noi-buon-cua-nam-phi Nỗi buồn của Nam Phi
p.first-cap Hành động nhanh chóng của các nhà khoa học Nam Phi đã được thế giới ghi nhận. Ngay trước cuộc họp khẩn cấp về biến chủng mới, WHO ca ngợi giới chức y tế Nam Phi vì nhanh chóng thông báo tới cộng đồng quốc tế.
p “WHO bày tỏ sự biết ơn tới những nhà khoa học Nam Phi vì sự công khai và minh bạch của họ”, ông Christian Lindmeier, người phát ngôn của WHO, nói.
p Trong cuộc điện đàm hôm 27/11 với người đồng cấp Nam Phi Naledi Pandor, Ngoại trưởng Mỹ Antony Blinken cũng “ca ngợi các nhà khoa học Nam Phi nhanh chóng nhận diện biến chủng mới, cũng như chính phủ Nam Phi minh bạch trong chia sẻ thông tin. Đây nên là hình mẫu cho thế giới”, trích thông cáo của Bộ Ngoại giao Mỹ.
p Tuy vậy, Nam Phi khó có thể vui vẻ với hệ quả của phát hiện này. Ngay sau khi biến chủng mới xuất hiện, các quốc gia nhanh chóng áp đặt các biện pháp hạn chế đi lại với các quốc gia láng giềng.
figure.blog-img
    img(loading='lazy' src=dist+'/blogs/blog2.jpg')
    figcaption.cap Sau khi biến chủng Omicron xuất hiện, nhiều nước đã hạn chế các chuyến bay đến Nam Phi và các quốc gia láng giềng. Ảnh: Sky News.
p Anh là nước đầu tiên ban hành lệnh cấm bay với Nam Phi, cùng với 5 quốc gia láng giềng là Namibia, Lesotho, Botswana, Eswatini và Zimbabwe. Lệnh cấm đã ảnh hưởng tới hàng nghìn người đi lại mỗi ngày giữa hai quốc gia, cũng như hàng chục nghìn người có ý định di chuyển trong thời gian tới
p Tiếp sau Anh, hàng loạt quốc gia, từ Á sang Âu, đã ban hành lệnh cấm của riêng mình. Nhiều hãng hàng không cũng ngừng bán vé máy bay đi và đến tới Nam Phi.
p Phản ứng đầu tiên của Nam Phi là sự giận dữ. Trong cuộc họp báo ngày 26/11, Bộ trưởng Y tế Nam Phi Joe Phaahla gọi hành động của Anh và các nước là “thiếu suy nghĩ và khắc nghiệt”.
p “Phản ứng áp đặt biện pháp cấm đi lại của các nước hoàn toàn đi ngược với các tiêu chuẩn của WHO”, ông Phaala nói.
p Tuy vậy, những lời phản đối yếu ớt của Nam Phi dường như không có tác dụng. Các biện pháp hạn chế tiếp tục được đưa ra, gây ra tác động không nhỏ đến nền kinh tế, đến từng người dân Nam Phi.
p “Các lệnh cấm di chuyển giống như trừng phạt Nam Phi vì đã nhanh chóng giải trình tự gene và phát hiện biến chủng mới”, Bộ Quan hệ và Hợp tác Quốc tế Nam Phi ra thông cáo hôm 27/11. “Sự xuất sắc trong khoa học nên được hoan nghênh, thay vì trừng phạt”.
h2#loi-cam-on-muon-mang Lời cảm ơn muộn màng
p.first-cap Tuy vậy, thế giới có thể làm khác không? Câu trả lời là rất khó, theo nhận định của Guardian.
p Biến chủng Omicron đang trên đà lây lan. Tuy các nhà khoa học chưa thể chắc chắn 100% Omicron có độc lực hay khả năng lây lan cao hơn các chủng virus Covid-19 khác, các dấu hiệu là rõ ràng, đủ để WHO xếp vào nhóm “đáng quan ngại”.
p Kinh nghiệm của thế giới trong gần hai năm qua, đặc biệt với các biến chủng Alpha và Delta, cho thấy cách tốt nhất là hành động từ sớm. Nếu biến chủng thực sự nguy hiểm, không hành động sẽ để lại hậu quả tai hại.
figure.blog-img
    img(loading='lazy' src=dist+'/blogs/blog3.jpg')
    figcaption.cap Các nước phát triển cần giúp đỡ Nam Phi nói riêng và châu Phi nói chung trong phòng chống đại dịch. Ảnh: Guardian.
p Nếu việc hạn chế di chuyển là không thể tránh khỏi, cộng đồng quốc tế có thể làm gì để giúp đỡ Nam Phi nói riêng và các nước châu Phi nói chung?
p Tính đến ngày 28/11, chưa đầy 25% dân số Nam Phi đã tiêm đủ hai mũi vaccine. Tuy vậy, quốc gia này vẫn nằm trong nhóm nước có tỷ lệ tiêm chủng khá ở châu Phi.
p Gần 90% dân số châu lục chưa được tiêm mũi vaccine nào, khiến khu vực này thành nơi virus có nhiều cơ hội đột biến. Theo quan điểm của các nhà khoa học Nam Phi, biến chủng Omicron là biểu hiện của sự bất bình đẳng về vaccine trên ở quy mô toàn cầu.
p Giờ đây, các nước giàu có với nguồn vaccine dư dả cần cung cấp mọi nguồn lực mà các quốc gia miền Nam châu Phi - những nước đang ở tuyến đầu trong cuộc chiến chống biến chủng Omicron - đòi hỏi. Đây sẽ là lời cảm ơn tốt nhất tới Nam Phi trong hoàn cảnh này.
p “Thế giới nên hỗ trợ Nam Phi và châu Phi, đừng phân biệt hay cô lập khu vực này”, giáo sư Tulio de Oliveira, chuyên gia virus học hàng đầu Nam Phi, đăng trên Twitter.
p “Hãy bảo vệ và hỗ trợ chúng tôi, chúng tôi sẽ bảo vệ thế giới”, giáo sư De Oliveira viết.