
meta(
    http-equiv="Content-Type"
    content="text/html; charset=UTF-8"
)
meta(
    charset="utf-8"
)
//-S.E.O
meta(
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1, user-scalable=no"
)
meta(
    name="description"
    content=""
)
meta(
    name="keywords"
    content=""
)
meta(
    name="format-detection"
    content="telephone=no,date=no,address=no,email=no"
)
meta(
    name="mobile-web-app-capable"
    content="yes"
)
meta(
    name="apple-mobile-web-app-capable"
    content="yes"
)
meta(
    name="apple-mobile-web-app-status-bar-style"
    content="black"
)
meta(
    name="theme-color"
    content="#ddd"
)
link(
    rel="shortcut icon"
    type="image/x-icon"
    href="/wwwroot/templates/website/images/default/favicon.png"
)
link(
    rel="icon"
    type="image/x-icon"
    href="/wwwroot/templates/website/images/default/favicon.png"
)
