//- Var
- let animation = false;
-
    let listImg = [
        {
            src: dist+'/sliders/slider1.jpg',
            srcm: dist+'/sliders/slider1-m.jpg',
            href: ''
        },
        {
            src: dist+'/sliders/slider2.jpg',
            srcm: dist+'/sliders/slider2-m.jpg',
            href: ''
        },
        {
            src: dist+'/sliders/slider3.jpg',
            srcm: dist+'/sliders/slider3-m.jpg',
            href: ''
        },
    ];
#mainslider.main-slider
    if !animation
        .swiper.slider-fixedheight.swiper-container.swiper-theme.nav-inner.pg-inner.nav-colored(data-swiper-options=`{
                                                                                            'lazy': false,
                                                                                            'loop': true,
                                                                                            'slidesPerView': 1,
                                                                                            'autoplay': {
                                                                                                'delay': 8000,
                                                                                                'disableOnInteraction': false
                                                                                            }
                                                                                        }`)
            .swiper-wrapper
                each item in listImg
                    .swiper-slide
                        a.item(href=item.href)
                            picture
                                source(media='(max-width:450px)' srcset='' type='image/webp' class='')
                                source(media='(max-width:450px)' srcset=item.srcm class='')
                                source(media='' srcset='' type='image/webp' class='')
                                img(src=item.src alt='' class='' width='1920' height='550')
            button.swiper-button.swiper-button-prev
            button.swiper-button.swiper-button-next
            .swiper-pagination
    else
        .swiper.swiper-container.swiper-theme.nav-inner.pg-inner.swiper-nav-lg.animation-slider.nav-hide(data-swiper-options=`{
                                                                                                    'lazy': false,
                                                                                                    'loop': true,
                                                                                                    'slidesPerView': 1,
                                                                                                    'autoplay': {
                                                                                                        'delay': 8000,
                                                                                                        'disableOnInteraction': false
                                                                                                    }
                                                                                                }`)
            .swiper-wrapper
                .swiper-slide.animation-banner.animation-banner-fixed.animation-slide.animation-slide1(style='background-image: url(/wwwroot/templates/images/sliders/animation/slide-1.jpg); background-color: #ebeef2;"')
                    .container
                        figure.slide-image.slide-animate.floating-item(data-animation-options=`{ 'name': 'fadeInDownShorter', 'duration': '1s'}` data-options=`{'relativeInput':true,'clipRelativeInput':true,'invertX':true,'invertY':true}` data-child-depth='0.2')
                            img(src=dist+'/sliders/animation/shoes.png')
                        .animation-banner-content.y-50.text-right
                            h5.animation-banner-subtitle.font-weight-normal.text-default.mb-2.slide-animate(data-animation-options=`{'name': 'fadeInRightShorter','duration': '1s','delay': '.2s'}`) Custom <span class="p-relative d-inline-block">Men’s</span>
                            h3.animation-banner-title.font-weight-bold.slide-animate(data-animation-options=`{'name': 'fadeInRightShorter','duration': '1s','delay': '.4s'}`) RUNNING SHOES
                            p.font-weight-normal.text-default.slide-animate(data-animation-options=`{'name': 'fadeInRightShorter','duration': '1s','delay': '.6s'}`) Sale up to <span class="font-weight-bold text-secondary">30% OFF</span>
                            a.btn.btn-dark.btn-outline.btn-rounded.btn-icon-right.slide-animate(data-animation-options=`{'name': 'fadeInRightShorter','duration': '1s','delay': '.8s'}`) SHOP NOW<i class="ecs-icon-long-arrow-right"></i>
                
                .swiper-slide.animation-banner.animation-banner-fixed.animation-slide.animation-slide2(style='background-image: url(/wwwroot/templates/images/sliders/animation/slide-2.jpg); background-color: #ebeef2;"')
                    .container
                        figure.slide-image.slide-animate(data-animation-options=`{'name': 'fadeInUpShorter','duration': '1s'}`)
                            img(src=dist+'/sliders/animation/men.png' data-bottom-top='transform: translateX(10vh);' data-top-bottom='transform: translateX(-10vh);')
                        .animation-banner-content.d-inline-block.y-50
                            h5.animation-banner-subtitle.font-weight-normal.text-default.slide-animate(data-animation-options=`{'name': 'fadeInUpShorter','duration': '1s','delay': '.2s'}`) Mountain-<span class="text-secondary">Climbing</span>
                            h3.animation-banner-title.font-weight-bold.text-dark.mb-0.slide-animate(data-animation-options=`{'name': 'fadeInUpShorter','duration': '1s','delay': '.4s'}`) Hot & Packback
                            p.font-weight-normal.text-default.slide-animate(data-animation-options=`{'name': 'fadeInUpShorter','duration': '1s','delay': '.8s'}`) Only until the end of this week.
                            a.btn.btn-dark.btn-outline.btn-rounded.btn-icon-right.slide-animate(data-animation-options=`{'name': 'fadeInUpShorter','duration': '1s','delay': '1s'}`) SHOP NOW<i class="ecs-icon-long-arrow-right"></i>

                .swiper-slide.animation-banner.animation-banner-fixed.animation-slide.animation-slide3(style='background-image: url(/wwwroot/templates/images/sliders/animation/slide-3.jpg); background-color: #f0f1f2;"')
                    .container
                        figure.slide-image.slide-animate(data-animation-options=`{'name': 'fadeInDownShorter','duration': '1s'}`)
                            img(src=dist+'/sliders/animation/skate.png' data-bottom-top='transform: translateY(10vh);' data-top-bottom='transform: translateY(-10vh);')
                        .animation-banner-content.text-right.y-50
                            p.font-weight-normal.text-default.text-uppercase.mb-0.slide-animate(data-animation-options=`{'name': 'fadeInLeftShorter','duration': '1s','delay': '.6s'}`)
                            h5.animation-banner-subtitle.font-weight-normal.text-default.slide-animate(data-animation-options=`{'name': 'fadeInLeftShorter','duration': '1s','delay': '.4s'}`) Trending Collection
                            h3.animation-banner-title.p-relative.font-weight-bold.slide-animate(data-animation-options=`{'name': 'fadeInLeftShorter','duration': '1s','delay': '.2s'}`) <span class="text-white mr-4">Roller</span>-skate
                            .btn-group.slide-animate(data-animation-options=`{'name': 'fadeInLeftShorter','duration': '1s','delay': '.8s'}`)
                                a.btn.btn-dark.btn-outline.btn-rounded.btn-icon-right(href='') SHOP NOW<i class="ecs-icon-long-arrow-right"></i>

            button.swiper-button.swiper-button-prev
            button.swiper-button.swiper-button-next
            .swiper-pagination