extends layout.pug

block title
    - let title = 'Trang tĩnh';
    title #{title}
block style
    - let css = '/release/static-page.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/release/main.min.css')

block content
    //- Var
    - let idPage = 'static';
    - let h1Title = '@ViewBag.MetaTitle';
    //- Data
    -
        let breadcrumb = [
            {
                name: 'Trang chủ',
                href: '/',
                isActive: false,
            },
            {
                name: title,
                href: '',
                isActive: true,
            },
        ];
    //- Content
    main.page-wrapper.main(id=`${idPage}-page`)
        h1.d-none=h1Title
        
        .breadcrumb.mb-10
            .breadcrumb-header.bg-grey.d-flex.align-items-center.justify-content-center
                .container.text-center.text-capitalize
                    h2.breadcrumb-title=title
                    p.breadcrumb-subtitle Page
            .container
                .breadcrumb-body
                    +breadcrumb-list(breadcrumb)

block script
    - let js = '/release/static-page.min.js';
    //- Default
    script(type='text/javascript' src=`/release/default.min.js` defer)
    //- Page

    script.
        addCSS('#{css}')
        addScript('#{js}')
        addScript('/release/layout-script.min.js')
    