extends layout.pug

block title
    - let title = 'Đặt phòng';
    title #{title}
block style
    - let css = '/release/booking-page.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/release/main.min.css')
    
    style.

block content
    //- Var
    - let idPage = 'booking';
    - let h1Title = '@ViewBag.MetaTitle';
    //- Data
    -
        let breadcrumb = [
            {
                name: 'Trang chủ',
                href: '/',
                isActive: false,
            },
            {
                name: 'Đặt phòng',
                href: '',
                isActive: true,
            },
        ];
    //- Content
    main.page-wrapper.main.bg-grey(id=`${idPage}-page` class=`${idPage}-page`)
        h1.d-none=h1Title
        .breadcrumb.d-none.d-lg-block.d-md-none
            .breadcrumb-header
                .container.text-left.text-uppercase.pt-3.pb-3
                    h2.h4.font-weight-semibold Đặt phòng
        .container.pb-10.p-0
            section.section-empty.text-center.bg-white.br-sm
                img(src='/img/empty-cart.png' alt='' loading='lazy' width='200' height='219')
                p.h4.font-weight-normal Bạn chưa chọn phòng nào.
                a.btn.btn-primary.br-sm(href='') Tiếp tục đặt phòng

        .container.pb-10.p-0
            .row.gutter-sm.m-0
                .main-content.p-0
                    section(id=`${idPage}` class=`${idPage}`)
                        .section-header
                            .d-flex.tab-header
                                .item.d-flex.align-items-center
                                    i.item-icon.ecs-icon-user
                                    .item-text
                                        b.d-block Khách
                                        span 1 người lớn, 3 trẻ em
                                .item.d-flex.align-items-center
                                    i.item-icon.ecs-icon-calendar
                                    .item-text
                                        b.d-block Nhận phòng
                                        span Th 6, 28 tháng 10, 2022
                                .item.d-flex.align-items-center
                                    i.item-icon.ecs-icon-calendar
                                    .item-text
                                        b.d-block Trả phòng
                                        span CN, 30 tháng 10, 2022
                            .tab-body

                aside#sidebar.sidebar.sidebar-fixed.sticky-sidebar-wrapper.right-sidebar.sticky-sidebar-notop.p-0
                    .sidebar-body.sidebar-content
                        .sticky-sidebar

block script
    - let js = '/release/booking-page.min.js';
    //- Default
    script(type='text/javascript' src=`/release/default.min.js` defer)
    //- Page

    script.
        addCSS('#{css}')
        addScript('#{js}')
        addScript('/release/layout-script.min.js')
    