extends layout.pug

block title
    - let title = 'Trang chủ';
    title #{title}
block style
    - let css = '/release/index-page.min.css';
    //- Default
    link(rel='stylesheet' type='text/css' href='/release/default.min.css')
    link(rel='stylesheet' type='text/css' href='/release/main.min.css')

block content
    //- Var
    - let idPage = 'index';
    - let h1Title = '@Html.Raw(ViewBag.MetaTitle)';
    //- Content
    
    main.page-wrapper.main.home(id=`${idPage}-page`)
        h1.d-none=h1Title
        include components/_main-slider.pug
block script
    - let js = '/release/index-page.min.js';
    //- Default
    script(type='text/javascript' src=`/release/default.min.js` defer)
    //- Page

    script.
        addCSS('#{css}')
        addScript('#{js}')
        addScript('/release/layout-script.min.js')
    

    