.item-product.product(itemscope itemtype='http://schema.org/Product')
    figure.product-media
        a.img.product-images.img-fixed-height(href=item.href title='')
            each img in item.listimg
                picture
                    source.swiper-lazy(media='' data-srcset='' type='image/webp')
                    img.swiper-lazy(data-src=img alt='' itemprop='thumbnail' width='' height='')
            .swiper-lazy-preloader
        .product-label-group
            //- if item.percent
            //-     label.product-label.label-discount=item.percent
            if item.label
                each itemlabel in item.label
                    label.product-label(style=`background-color: ${itemlabel.color}`)=itemlabel.name
        .product-action-vertical
            a.btn-product-icon.btn-cart.ecs-icon-cart(href='javascript:void' title='Add to cart')
            a.btn-product-icon.btn-wishlist.ecs-icon-heart(href='javascript:void' title='Wishlist')
            a.btn-product-icon.btn-compare.ecs-icon-compare(href='javascript:void' title='Compare')
            a.btn-product-icon.btn-quickview.ecs-icon-search(href='javascript:void' title='Quick View')
        if item.promodate != null
            //- Y-D-H 'Years', 'Months', 'Weeks', 'Days', 'Hours', 'Minutes', 'Seconds'
            .product-countdown-container
                .product-countdown.countdown-compact(data-until=item.promodate data-format='DHMS' data-compact='false' data-labels-short='Năm, Tháng, Tuần, Ngày, Giờ, Phút, Giây')
    .product-details
        if item.ver
            .product-variations.mb-1
                each itemver in item.ver
                    a.image.lazyload-bg(class=itemver.isActive ? 'active' : '' class=itemver.isShow ? '' : 'disabled'  href='javascript:void' data-bg=itemver.src data-src=itemver.srcbig)
        .product-cat
            a(href='')=item.cat
        h3.product-title(itemprop='name')
            a(href='' itemprop='url')=item.name
        if (item.star > 0)
            .ratings-container
                .ratings-full
                    .ratings(style=`width: ${item.star*100/5}%;`)
                a.rating-reviews(href='') (#{item.count}<span class='ml-1'>đánh giá</span>)
        .product-price(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
            if item.promoprice != null
                ins.new-price.price-promoprice(itemprop='price' content='')=item.price
                //- del.old-price=item.promoprice
                if item.percent
                    label.product-label.label-discount
                        span=item.percent
            else 
                ins.new-price(itemprop='price' content='')=item.price
        if item.quantity == 0
            .product-quantity Đã hết hàng